<h2 class="red">Commandes</h2>
<table>
    <tr>
        <th>#</th>
        <th>Detail</th>
        <th>Date</th>
    </tr>
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            {% set products = order.products|split(';') %}
            <td>
                {% for product in products %}
                {{ product }}<br>
                {% endfor %}
            </td>
            <td>{{ order.orderdate }}</td>
        </tr>
    {% endfor %}
</table>
