{% extends 'layout.html.twig' %}

{% block content %}
    <div class="conceptblock first">
        <h2>Anti-Gaspillage</h2>
        <p>
            L'anti-gaspillage alimentaire est au cœur de notre concept et de nos préoccupations.<br />
            Nous nous fournissons auprès de nos partenaires en produit présentant une date limite de consommation proche, que nous travaillons ensuite pour vous proposer des plats savoureux.
        </p>
    </div>
    <div class="conceptblock second">
        <h2>Carritatif</h2>
        <p>
            La dimension sociale d'une entreprise ne devrait pas être une option, alors nous avons décidé de joindre l'acte à la parole.<br>
            C'est dans ce but que nous travaillons main dans la main avec les associations caritatives pour aider les plus démunis.<br>
            Les invendus de la journée sont ainsi redistribués aux Restos du Coeur.<br>
            Nous reversons également une partie du prix de la livraison à nos partenaires sociaux pour les aider financièrement dans leurs luttes quotidiennes.<br>
            C'est ensemble que nous pouvons rendre le monde meilleur, Smart Eat n'est pas qu'une entreprise c'est également un acteur militant.
        </p>
    </div>
    <div class="conceptblock third">
        <h2>Produit de qualité</h2>
        <p>
            Une cuisine simple et savoureuse.<br>
            Cuisiner des produits proches de leurs DLC n'est pas incompatible avec une cuisine de qualité. Nous choisissons soigneusement les produits qui passent entre les couteaux de nos professionnels, nous mettons un soin infini à choisir les produits qui seront dans votre assiette.<br>
            Nous sommes intransigeant sur l'hygiène, la sécurité et la qualité des produits que nous vous proposons.
        </p>
    </div>
    <div class="conceptblock fourth">
        <h2>Soucieux de l'environnement</h2>
        <p>
            Prendre soin de nos clients passe aussi par prendre soin de l'environnement.<br>
            C'est pourquoi nous avons mis en place un système de livraison par vélo, non polluant, écologique et économique, nos coursiers sont les premiers ambassadeurs de nos politique environnementale.<br>
            Les produits qu'ils transportent portent également la marque de notre engagement eco-responsable, ainsi notre packaging est totalement recyclable.<br>
            L'environnement n'est pas un enjeu pour l'avenir,  c'est un combat que nous menons aujourd'hui.
        </p>
    </div>
{% endblock %}
