{% extends 'layout.html.twig' %}

{% block content %}

    <ul class="rslides">
        <li><img src="assets/images/homehead1.png" alt=""></li>
    </ul>

    <div class="itemnavmobile">
        <a href="#" class="active">Plats</a>
        <a href="#">Desserts</a>
        <a href="#">Boissons</a>
    </div>

    <div class="categorytitle dish">Plats du jour</div>

    <script src="assets/js/responsiveslides.min.js"></script>
    <script src="assets/js/home.js"></script>
{% endblock %}
