<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <title>SmartEat</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/vanilla-notify.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="assets/js/vanilla-notify.js"></script>
        <script src="assets/js/script.js"></script>
    </head>
    <body>
        <div id="mobile-nav" class="lateral latDesaparece">
            <nav>
                <ul>
                    <li><a href="?action=home">Accueil</a></li>
                    <li><a href="?action=concept">Concept</a></li>
                    <li><a href="?action=partners">Partenaires</a></li>
                    <li><a href="?action=profile">Profil</a></li>
                </ul>
            </nav>
        </div>

        <header id="mobile-header">
            <a href="#" id="burger-toggle"><span></span></a>
            <a href="?action=home"><img src="assets/images/logo.png" alt="Logo Smart Eat" class="logo"></a>
            <a href="?action=basket" class="basket"><img src="assets/images/basket.png" alt="Logo ajouter au pannier"></a>
        </header>

        {% block content %}{% endblock %}

        <footer id="mobile-footer">
            <div class="left">
                <div class="appstores">
                    <a href="#"><img src="assets/images/android.png" alt="Play Store"></a>
                    <a href="#"><img src="assets/images/apple.png" alt="App Store"></a>
                </div>
                <div class="social">
                    <a href="#"><img src="assets/images/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="assets/images/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="assets/images/instagram.png" alt="Instagram"></a>
                </div>
            </div>
            <div class="right">
                <p>Vos mots doux à :<br /><a class="mail" href="mailto:motsdoux@smarteat.fr">motsdoux@smarteat.fr</a></p>
                <p><a href="#">Mentions légales</a> | <a href="#">Contact</a> | <a href="#">CGV</a></p>
            </div>
        </footer>

    </body>
</html>
