{% extends 'layout.html.twig' %}

{% block content %}
<div class="forms">
    <form name="loginform" class="loginregister">
        <h2>Connexion</h2>

        <label for="loginemail">Email</label>
        <input type="email" id="loginemail" name="loginemail">

        <label for="loginpassword">Mot de passe</label>
        <input type="password" id="loginpassword">

        <input type="submit" class="btn" value="Se connecter">
    </form>
    <form name="registerform" class="loginregister">
        <h2>Inscription</h2>
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname">

        <label for="lastname">Nom</label>
        <input type="text" id="lastname">

        <label for="registeremail">Email</label>
        <input type="email" id="registeremail">

        <label for="phone">Téléphone</label>
        <input type="tel" id="phone">

        <label for="autocomplete">Adresse</label>
        <input id="autocomplete" onFocus="geolocate()" type="text">

        <label for="registerpassword">Mot de passe</label>
        <input type="password" id="registerpassword">

        <label for="passwordconfirm">Confirmation du mot de passe</label>
        <input type="password" id="passwordconfirm">

        <input type="hidden" id="street_number">
        <input type="hidden" id="route">
        <input type="hidden" id="locality">
        <input type="hidden" id="administrative_area_level_1">
        <input type="hidden" id="country">
        <input type="hidden" id="postal_code">

        <input type="submit" class="btn" value="S'inscrire">
    </form>
</div>

<script src="assets/js/loginregister.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDugzDcYGo-62iMQ3aUepxGtqwyzz6ZC8M&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}
