* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.red {
    color: #a02427;
}

.green {
    color: #157063;
}

.none {
    display: none;
}

/* MODAL */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .modal-content .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal .modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.modal .modal-content form input:not([type=submit]):not([type=radio]) {
    width: 90%;
    height: 20px;
    border: 1px solid #b1b1b1;
    margin: 5px 0;
    outline: 0;
    padding: 5px 5%;
}

.modal .modal-content form div {
    align-self: flex-start;
}

.modal .modal-content form .btn {
    width: 100%;
    height: 25px;
    background-color: #1b907f;
    color: white;
    border: 0;
}

.modal .close {
    background: url('../images/close.png') no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
}

.modal .close:hover,
.modal .close:focus {
    background: url('../images/closehover.png') no-repeat;
    cursor: pointer;
}
#myModalDish{
    color: black;
}
#myModalDessert{
    color: black;
}
#myModalExtra{
    color: black;
}


/* HEADER */

#mobile-header {
    width: 100%;
    height: 55px;
    background-color: rgba(14, 11, 22, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
}

#mobile-header .logo {
    z-index: 20;
    height: 40px;
}

#mobile-header .basket img {
    height: 25px;
}

#mobile-header .basket {
    position: absolute;
    top: 15px;
    right: 20px;
}

#burger-toggle {
    position: absolute;
    width: 30px;
    height: 25px;
    top: 15px;
    left: 20px;
    cursor: pointer;
    z-index: 20;
}

#burger-toggle span {
    position: relative;
    top: 45%;
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

#burger-toggle span:before, #burger-toggle span:after {
    position: absolute;
    background-color: white;
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

#burger-toggle span:before {
    top: -10px;
}

#burger-toggle span:after {
    top: 10px;
}

#burger-toggle.active span {
    background: transparent;
}

#burger-toggle.active span:before {
    transform: translate(0, 10px) rotate(45deg);
}

#burger-toggle.active span:after {
    transform: translate(0, -10px) rotate(-45deg);
}

#mobile-nav {
    font-size: 18px;
    width: 320px; /* The same negative value of LEFT property in .latDesaparece class */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    background-color: rgba(14, 11, 22, 0.9);
}

#mobile-nav nav {
    width: 100%;
    margin: 60px 0 0 0;
}

#mobile-nav nav ul {
    text-align: left;
}

#mobile-nav nav ul li {
    list-style-type: none;
    text-transform: capitalize;
}

#mobile-nav nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 0 15px 35px;
    display: block;
    text-indent: 10px;
}

#mobile-nav nav ul li a:hover, #mobile-nav nav ul li a.active {
    background-color: white;
    color: #333
}

#mobile-nav.latAparece {
    left: 0px;
    transition: all .3s ease;
}

#mobile-nav.latDesaparece {
    left: -320px;
    transition: all .3s ease;
}

/* FOOTER */

#mobile-footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #282828;
    color: white;
    font-size: 12px;
}

#mobile-footer img {
    height: 25px;
}

#mobile-footer a {
    color: white;
    text-decoration: none;
}

#mobile-footer a:visited {
    color: white;
    text-decoration: none;
}

#mobile-footer .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    padding: 0 20px;
}

#mobile-footer .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    padding: 0 20px;
    text-align: center;
}

#mobile-footer .right .mail {
    color: #2d697a;
}

/* HOME PAGE */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.dish, #dish {
    background-color: #157063;
}

.dessert, #dessert {
    background-color: #a02427;
}

.drink, #drink {
    background-color: #31a9cb;
}

.extra, #extra {
    background-color: green;
}

.itemnavmobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
}

.itemnavmobile a {
    width: 33.33%;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.itemnavmobile a:hover {
    background-color: #e3e3e3;
}

.itemnavmobile a.dish:hover {
    border-bottom: 5px solid #157063;
}

.itemnavmobile a.dessert:hover {
    border-bottom: 5px solid #a02427;
}

.itemnavmobile a.drink:hover {
    border-bottom: 5px solid #31a9cb;
}

.categorytitle {
    width: 50%;
    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    align-self: center;
    margin: 30px 0;
}

.items {
    width: 315px;
    align-self: center;
}

.items .item {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.items .item img {
    width: 100%;
    border-bottom: 5px solid white;
}

.items .item .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    color: white;
    text-align: center;
}

.items .item .content .title {
    text-transform: uppercase;
}

.items .item .content .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* CONCEPT */

.conceptblock {
    margin: 20px 2%;
    padding: 5%;
    width: 86%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: white;
    font-size: 12px;
}

.conceptblock h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.conceptblock.first {
    margin-top: 70px;
    background: url('../images/concept1.png');
    background-position: center;
    background-size: 100% auto;
}

.conceptblock.second {
    background: url('../images/concept2.png');
    background-position: center;
    background-size: 100% auto;
}

.conceptblock.third {
    background: url('../images/concept3.png');
    background-position: center;
    background-size: 100% auto;
}

.conceptblock.fourth {
    background: url('../images/concept4.png');
    background-position: center;
    background-size: 100% auto;
}

/* PARTNERS */

.partnersheader {
    width: 100%;
}

.partnerblock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 80%;
    padding: 10px;
    margin: 5%;
    border: 10px solid #157063;
}

.partnerblock img {
    width: 70%;
    height: auto;
}

.partnerblock .separator {
    width: 100%;
    height: 10px;
    background-color: #a02427;
    margin: 10% 0;
}

.partnerform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    width: 80%;
}

.partnerform h2 {
    color: #a02427;
    margin: 10px 0;
}

.partnerform div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.partnerform input {
    width: 96%;
    height: 30px;
    padding: 2%;
    border: 1px solid black;
    margin: 10px 0;
}

.partnerform div input:first-of-type {
    border-right: 0px;
}

.partnerform p {
    font-size: 12px;
    text-align: center;
}

.partnerform .btn {
    width: 30%;
    height: 30px;
    background-color: #a02427;
    color: white;
    border: 0;
}

/* LOGIN REGISTER PAGE */

.loginregister {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    margin: 70px 0 20px 0;
}

.loginregister div {
    width: 100%;
}

.loginregister h2 {
    color: #a02427;
    margin: 20px 0;
}

.loginregister label {
    align-self: flex-start;
    margin-top: 5px;
}

.loginregister input:not([type=submit]) {
    width: 90%;
    height: 20px;
    border: 1px solid #b1b1b1;
    margin: 5px 0;
    outline: 0;
    padding: 5px 5%;
}

.loginregister .btn {
    width: 100%;
    height: 25px;
    background-color: #157063;
    color: white;
    border: 0;
}

/* PROFILE PAGE */
.editblock {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editblock h2 {
    width: 90%;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 30px;
}

.editblock table {
    width: 80%;
    text-align: left;
}

.editblock table tr {
    line-height: 30px;
}

.editblock table th {
    width: 50%;
}

.addresses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addresses h2 {
    width: 90%;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 30px;
}

.addresses table {
    width: 90%;
    text-align: center;

}

.addresses table tr {
    line-height: 30px;
}

.addresses img {
    width: 30px;
}

.pointblock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pointblock h2 {
    width: 90%;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 30px;
}

.pointblock h3 {
    margin: 10px 0;
}

.orders {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders h2 {
    width: 90%;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 30px;
}
/* HISTORIQUE DE COMMANDE A DESIGN */


/* CUSTOMIZE MENU */

.customizeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    background: #a02427;
    color: white;
    width: 100%;
}

.customizeHeader h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

.customizeHeader .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 10px;
    height: 50px;
}

.customizeHeader .row .element {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100%;
}

.customizeHeader .row .element img {
    width: 25px;
}

#formMeal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#formMeal label {
    width: 80%;
    display: block;
    position: relative;
    margin-bottom: 20px;
    z-index: 0;
    border-radius: 20px;
}

#formMeal label:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6) url("../images/logoselected.png") no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 20px;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

#formMeal label img {
    width: 100%;
    background: black;
    border-radius: 20px;
}

#formMeal label h3 {
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 5px 5%;
    text-align: center;
    border-radius: 0 0 20px 20px;
    color: white;
}

#formMeal label h3.dish {
    background-color: #157063;
}

#formMeal label h3.dessert {
    background-color: #a02427;
}

#formMeal label h3.drink {
    background-color: #31a9cb;
}

#formMeal input[type=radio]:checked + label:after{
    opacity:1;
}

#formMeal input[type=submit] {
    margin: 20px auto;
    width: 175px;
    height: 50px;
    border: 2px solid #157063;
    border-radius: 40px;
    background-color: white;
    color: #157063;
    font-size: 20px;
    text-transform: uppercase;
}

/* CART PAGE */

.cart h2 {
    margin: 70px 0 20px 0;
    text-align: center;
}

.cartelements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cartelements .cartelement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.cartelements .cartelement img {
    width: 80%;
    border-radius: 20px;
    margin: 10px 0;
}

.cartelements .cartelement .pricequantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 20px 0;
}

.cartelements .cartelement .pricequantity div {
    display: flex;
    align-items: center;
}

.cartelements .cartelement .pricequantity input[type=image] {
    width: 12px;
}

.cartelements .cartelement .delete {
    width: 30px;
}

.cartelements hr {
    margin: 40px 0;
    width: 95%;
    color: #d1d1d1;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart h3 {
    text-align: center;
}

.cart a.button {
    margin: 20px auto;
    width: 175px;
    text-align: center;
    line-height: 50px;
    border: 2px solid #157063;
    border-radius: 10px;
    background-color: white;
    color: #157063;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

/* ORDER PAGE */

#steps {
  width: 90%;
  margin: 70px auto 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  border: 4px solid;
  border-color: transparent;
  border-radius: 50%;
  color: #cdd0da;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}

.step:first-child {
  line-height: 40px;
}

.step:nth-child(n+2):before {
  width: 75px;
  height: 3px;
  display: block;
  background-color: #bebebe;
  transform: translate(-95px, 21px);
  content: '';
}

.step:after {
  width: 150px;
  display: block;
  transform: translate(-55px, 3px);
  color: #818698;
  content: attr(data-desc);
  font-weight: 400;
  font-size: 13px;
}

.step:first-child:after {
  transform: translate(-55px, -1px);
}

.step.active {
  border-color: #73b5e8;
  color: #73b5e8;
}

.step.active:before {
  background: linear-gradient(to right, #58bb58 0%, #73b5e8 100%);
}

.step.active:after {
  color: #73b5e8;
}

.step.done {
  background-color: #58bb58;
  border-color: #58bb58;
  color: white;
}

.step.done:before {
  background-color: #58bb58;
}

.orderpage {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderpage h2 {
    margin: 20px 0;
}

.orderpage table {
    width: 100%;
    font-size: 13px;
}

.orderpage table td:nth-child(2) {
    font-weight: bold;
}

.orderpage table + h3 + span {
    align-self: flex-start;
    margin: 10px 0;
}

.orderpage button {
    margin: 20px auto;
    width: 250px;
    text-align: center;
    line-height: 50px;
    border: 2px solid #157063;
    border-radius: 10px;
    background-color: white;
    color: #157063;
    font-size: 20px;
    text-transform: uppercase;
}
.orderaddresses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderaddresses input {
    height: 30px;
    border: 1px solid #d0d0d0;
    background: white;
    border-radius: 0px;
    padding: 0 2.5%;
}

.orderaddresses .billingaddress, .orderaddresses .shippingaddress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
}

.orderaddresses .billingaddress input, .orderaddresses .shippingaddress input {
    width: 95%;
}

.orderaddresses .billingaddress div, .orderaddresses .shippingaddress div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.orderaddresses .billingaddress div input, .orderaddresses .shippingaddress div input{
    width: 42.5%;
}

.orderaddresses select {
  color: black;
  width: 47.5%;
  cursor: pointer;
  background: white;
  border: 1px solid black;
  font-size: 50%;
  line-height: 20px;
  padding: 0.5em;
  padding-right: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* ADMIN PAGE */

.plates {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plates h2 {
    width: 90%;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 30px;
}

.plates table {
    width: 90%;
    text-align: center;

}

.plates table tr {
    line-height: 30px;
}

.plates img {
    width: 30px;
}


.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners h2 {
    width: 90%;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 30px;
}

.partners table {
    width: 90%;
    text-align: center;

}

.partners table tr {
    line-height: 30px;
}

.partners img {
    width: 30px;
}

